$block: "psa-app";

@keyframes #{$block}-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.#{$block}__div {
  padding-top: 1rem;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  min-height: 100%;
  background-color: #1e1e2f;
}
